.vending-machine{
  width: 900px;
  height: 1000px;
  background-color: rgb(171, 23, 23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  border-radius: 5px;
}

.vending-machine-top{
  width: 850px;
  height: 800px;
  display: flex;
  align-items: center;
  gap:50px
}
.vending-machine-sodas{
  width: 700px;
  height: 760px;
  background-color: rgb(181, 225, 231);
  border-radius: 5px;
}

.vending-machine-panel{
  width: 500px;
  height: 760px;
  background-color: rgb(155, 155, 155);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 5px;
}

.vending-machine-dispenser{
  width: 600px;
  height: 80px;
  background-color: rgb(170, 170, 170);
  line-height: 80px;
  border-radius: 5px;
}

.text{
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.name{
  margin-right: 200px;
}

