.sodas-types {
  display: grid;
  grid-template-columns: 310px;
  grid-template-rows: repeat(5, 45px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 20px;
  color: black;
}
  
.sodas-type-title { 
  grid-area: 1 / 1 / 2 / 2; 
  font-size: 25px;
  font-weight: bold;
}
.soda-cocaCola { 
  grid-area: 2 / 1 / 3 / 2; 
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  border: black solid 1px;
}
.soda-pepsi {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  align-items: center;
  gap: 15px; 
  border-radius: 5px;
  border: black solid 1px;
}
.soda-fanta { 
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  border: black solid 1px;
}
.soda-sprite { 
  grid-area: 5 / 1 / 6 / 2; 
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  border: black solid 1px;
}

.soda-label{
  width: 100px;
}

.soda-btn{
width: 32px;
height: 32px;
border-radius: 100%;
border:none;
background-color: aliceblue;
font-size: 20px;
font-weight: bold;
}

.soda-btn:hover{
  background-color: rgb(213, 214, 214);
}

.soda-count{
  width: 30px;
  background-color: aliceblue;
}