.money-input {
  display: grid;
  grid-template-columns: repeat(2, 170px);
  grid-template-rows: repeat(4, 45px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 20px;
  color: black;
}
    
.money-input-title { 
  grid-area: 1 / 1 / 2 / 3; 
  font-size: 25px;
  font-weight: bold;
}
.money-input-1000{
  grid-area: 2 / 1 / 3 / 2; 
  display: flex;
  align-items: center;
  gap: 10px;
  border: black solid 1px;
  border-radius: 5px;
}
.money-input-500 {
  grid-area: 2 / 2 / 3 / 3; 
  display: flex;
  align-items: center;
  gap: 10px;
  border: black solid 1px;
  border-radius: 5px;
}
.money-input-100 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  align-items: center;
  gap: 10px; 
  border: black solid 1px;
  border-radius: 5px;
}
.money-input-50 {
  grid-area: 3 / 2 / 4 / 3; 
  display: flex;
  align-items: center;
  gap: 10px;
  border: black solid 1px;
  border-radius: 5px;
}
.money-input-25 {
  grid-area: 4 / 1 / 5 / 2; display: flex;
  align-items: center;
  gap: 10px;
  border: black solid 1px;
  border-radius: 5px;
}

.money-div{
  width: 40px;
}

.money-btn{
  width: 32px;
  height: 32px;
  line-height: 30px;
  border-radius: 100%;
  border: none;
  background-color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}

.money-btn:hover{
  background-color: rgb(213, 214, 214);
}

.money-label{
  width: 27px;
  background-color: aliceblue;
}